<!--
# ITESM CEM, May 11, 2011.
# Ruby Source File
# Activity::  Final Project: Design Patterns Quiz App
# Author::    1165536 Juliana Pena
-->

<h1>Start Quiz</h1>

<%= form_tag({:controller => "quiz",
				  :action => "start"}) do %>
  <p><%= label_tag(:number, "How many questions do you want in the quiz?", :id => "question") %></p>
  <p class="center"><%= select_tag(:number, options_for_select((1..10).map {|x| [x, x]}), :id => "count") %> <br /></p>
  
  <div class="center">
	 <%= submit_tag "Start!", :class => "submit"%>
  </div>
<% end %>

<% content_for(:title) do %>
  Start Quiz
<% end %>